[flake8]
filename =
    *.py,
    *.py.in,
    */src/insights-client.in,
# same limit as black
max-line-length = 100
ignore =
    # E203 whitespace before ':'
    # result of black-formatted code
    E203,
    # W503: line break before binary operator
    W503
extend-exclude =
    # default build directory
    build/,
