insights_core.egg-info/
build/
dist/
insights_core/*.pyc
redhat-dev.gpg
etc/insights-client/redhat-dev.gpg
ansible/
.cache
docs/*.gz
*.egg-info
*.pyc
bin/
lib/
lib64
include/
pip-selfcheck.json
etc/rpm.egg
etc/rpm.egg.asc
.vscode
.python-version
.pytest_cache