# This file is part of insights-client.
#
# Any changes made to this file will be overwritten during a software update. To
# override a parameter in this file, create a drop-in file, typically located at
# /etc/systemd/system/insights-client.service.d/override.conf. Put the desired
# overrides in that file and reload systemd. The next time this service is run
# (either manually or via a systemd timer), the overridden values will be in
# effect.
#
# For more information about systemd drop-in files, see systemd.unit(5).

[Unit]
Description=Insights Client
Documentation=man:insights-client(8)
After=network.target
StartLimitIntervalSec=12h
StartLimitBurst=6

[Service]
Type=exec
ExecStart=/usr/bin/insights-client
Restart=on-failure
RestartSec=1h
WatchdogSec=900
CPUQuota=30%
MemoryHigh=1G
MemoryMax=2G
TasksMax=300
BlockIOWeight=100

#
# Security
#

# Filesystem protection
ProtectHome=read-only
PrivateTmp=yes
ProtectSystem=true
# Cannot be set to "full": /etc/ needs to be writable by insights-client

# Device access
PrivateDevices=yes

# Kernel
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes
NoNewPrivileges=no
# Cannot be enabled, insights-client client calls selinux.setexeccon() to
# transition child processes into the insights_core_t SELinux domain.

# Process and privilege restrictions
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
KeyringMode=private
SystemCallArchitectures=native
