[Unit]
Description=Insights Client
Documentation=man:insights-client(8)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/insights-client --retry 3
Restart=no
WatchdogSec=900
CPUQuota=30%
MemoryLimit=2G
TasksMax=300
BlockIOWeight=100
ExecStartPost=/bin/bash -c "if [ -d /sys/fs/cgroup/memory ]; then echo 2G > /sys/fs/cgroup/memory/system.slice/insights-client.service/memory.memsw.limit_in_bytes; fi"
ExecStartPost=/bin/bash -c "if [ -d /sys/fs/cgroup/memory ]; then echo 1G > /sys/fs/cgroup/memory/system.slice/insights-client.service/memory.soft_limit_in_bytes; fi"
