name: pytest
permissions:
  contents: read

on:
  pull_request:
    paths:
      - "src/**"
      - ".github/workflows/pytest.yml"

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "CentOS Stream 10"
            image: "quay.io/centos/centos:stream10"

    runs-on: "ubuntu-latest"
    container:
      image: ${{ matrix.image }}

    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v5

      - name: "Install dependencies"
        run: |
          dnf --setopt install_weak_deps=False install -y git-core python3-pip gpg
          python3 -m pip install --upgrade pip wheel
          python3 -m pip install -r src/insights_client/tests/requirements.txt

      - name: "Run pytest"
        env:
          PYTEST_ADDOPTS: "--color=yes --code-highlight=yes --showlocals"
        run: |
          python3 -m pytest src/insights_client/tests
